# NEXTJS ENV
AUTH_SECRET=t8lzHLTm92UfjRCTKwkAIR89+2Mr71Bhlpdy/n0UgLI=
AUTH_DRIZZLE_URL=postgres://todo:todo123@localhost:54320/tododatabase
NEXTAUTH_SECRET=42275e702a4b40a89a098ab9bb9d310ee06e17a276edb721474544befee0d64c
NEXTAUTH_URL=http://localhost:3000

# POSTGRES ENV
POSTGRES_PASSWORD=todo123
POSTGRES_USER=todo
POSTGRES_DB=tododatabase

# the above is real example to run in development mode
# Postgres port 5432 if you run in docker, 54320 if you run the app in local machine