@tailwind base;
@tailwind components;
@tailwind utilities;

#task-container::-webkit-scrollbar {
  @apply h-0 w-0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
